body {
  background-color: #282c34;
  min-height: 100vh;
  color: #ccc;

  padding: 15px 20px;
  a {
    color: #aaa;
    text-decoration: none;
  }

  a.active {
    color: yellow;
  }

  .App {
    display: flex;
    flex-direction: column;

    h1 {
      align-self: center;
    }
    img {
      width: 170px;
    }
  }
}
