body {
  background-color: #282c34;
  min-height: 100vh;
  color: #ccc;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;

  .App {
    display: flex;
    flex-direction: column;
    h1 {
      align-self: center;
    }
    img {
      width: 170px;
    }
  }
}
